In [312]:
# Re-importing necessary libraries
import pandas as pd

# Define the file path
file_path = 'combined_bike_data.csv'  # Update path if needed

# Read the dataset into a new DataFrame
df_combined = pd.read_csv(file_path, low_memory=False)

# Select only the specified columns
selected_columns = [
    'duration', 'start_time', 'end_time',
    'start station latitude', 'start station longitude',
    'end station latitude', 'end station longitude',
    'user_type', 'gender', 'city', 'month', 'hour', 'day',
]

# Create a new DataFrame with the selected columns
df= df_combined[selected_columns]

df.head(50)

,duration,start_time,end_time,start station latitude,start station longitude,end station latitude,end station longitude,user_type,gender,city,month,hour,day
0,839,2016-01-01 00:09:55,1/1/2016 00:23:54,40.710451,-73.960876,40.720196,-73.989978,Customer,0,New York City,1,0,Friday
1,686,2016-01-01 00:21:17,1/1/2016 00:32:44,40.776829,-73.963888,40.763505,-73.971092,Subscriber,1,New York City,1,0,Friday
2,315,2016-01-01 00:33:11,1/1/2016 00:38:26,40.777057,-73.978985,40.784145,-73.983625,Subscriber,1,New York City,1,0,Friday
3,739,2016-01-01 00:40:51,1/1/2016 00:53:11,40.737815,-73.999947,40.717488,-74.010455,Subscriber,1,New York City,1,0,Friday
4,1253,2016-01-01 00:44:16,1/1/2016 01:05:09,40.755003,-73.980144,40.722104,-73.997249,Customer,0,New York City,1,0,Friday
5,525,2016-01-01 00:47:07,1/1/2016 00:55:52,40.745168,-73.986831,40.743453,-74.000040,Subscriber,2,New York City,1,0,Friday
6,659,2016-01-01 00:55:12,1/1/2016 01:06:12,40.712733,-74.004607,40.722438,-74.005664,Subscriber,1,New York City,1,0,Friday
7,464,2016-01-01 01:25:57,1/1/2016 01:33:42,40.737815,-73.999947,40.728419,-73.987140,Subscriber,1,New York City,1,1,Friday
8,206,2016-01-01 01:37:11,1/1/2016 01:40:38,40.705381,-73.949765,40.705833,-73.946446,Subscriber,2,New York City,1,1,Friday
9,425,2016-01-01 01:58:13,1/1/2016 02:05:18,40.749156,-73.991600,40.743943,-73.979661,Customer,0,New York City,1,1,Friday
10,798,2016-01-01 02:02:40,1/1/2016 02:15:58,40.714740,-74.009106,40.720664,-73.985180,Subscriber,1,New York City,1,2,Friday
11,584,2016-01-01 02:04:54,1/1/2016 02:14:39,40.730287,-73.990765,40.725213,-73.977688,Subscriber,2,New York City,1,2,Friday
12,505,2016-01-01 02:07:14,1/1/2016 02:15:39,40.732916,-74.007114,40.728419,-73.987140,Subscriber,1,New York City,1,2,Friday
13,1431,2016-01-01 02:18:03,1/1/2016 02:41:54,40.725806,-73.974225,40.723180,-73.994800,Subscriber,2,New York City,1,2,Friday
14,673,2016-01-01 02:27:02,1/1/2016 02:38:16,40.744697,-73.935404,40.741610,-73.960440,Subscriber,2,New York City,1,2,Friday
15,541,2016-01-01 02:33:40,1/1/2016 02:42:41,40.719105,-73.999733,40.717400,-73.980166,Subscriber,1,New York City,1,2,Friday
16,191,2016-01-01 02:45:40,1/1/2016 02:48:51,40.732233,-73.988900,40.730287,-73.990765,Subscriber,1,New York City,1,2,Friday
17,835,2016-01-01 02:46:27,1/1/2016 03:00:22,40.755273,-73.983169,40.745168,-73.986831,Subscriber,1,New York City,1,2,Friday
18,788,2016-01-01 02:51:00,1/1/2016 03:04:09,40.730287,-73.990765,40.714131,-73.997047,Subscriber,1,New York City,1,2,Friday
19,598,2016-01-01 03:00:59,1/1/2016 03:10:57,40.724561,-73.995653,40.726218,-73.983799,Subscriber,1,New York City,1,3,Friday
20,1238,2016-01-01 03:02:58,1/1/2016 03:23:37,40.708235,-74.005301,40.726281,-73.989780,Subscriber,1,New York City,1,3,Friday
21,460,2016-01-01 03:18:14,1/1/2016 03:25:55,40.740259,-73.984092,40.744751,-73.999154,Subscriber,1,New York City,1,3,Friday
22,1407,2016-01-01 03:31:44,1/1/2016 03:55:12,40.708704,-73.944862,40.730477,-73.999061,Subscriber,1,New York City,1,3,Friday
23,282,2016-01-01 03:49:38,1/1/2016 03:54:21,40.720664,-73.985180,40.725213,-73.977688,Subscriber,1,New York City,1,3,Friday
24,213,2016-01-01 03:50:39,1/1/2016 03:54:13,40.760193,-73.991255,40.756604,-73.997901,Subscriber,1,New York City,1,3,Friday
25,984,2016-01-01 03:56:33,1/1/2016 04:12:58,40.728419,-73.987140,40.710451,-73.960876,Customer,0,New York City,1,3,Friday
26,312,2016-01-01 04:00:22,1/1/2016 04:05:35,40.753231,-73.970325,40.744023,-73.976056,Subscriber,1,New York City,1,4,Friday
27,1422,2016-01-01 04:11:46,1/1/2016 04:35:29,40.734011,-74.002939,40.736502,-73.978095,Customer,0,New York City,1,4,Friday
28,669,2016-01-01 04:28:21,1/1/2016 04:39:31,40.714133,-73.952344,40.694254,-73.946269,Subscriber,2,New York City,1,4,Friday
29,223,2016-01-01 05:18:07,1/1/2016 05:21:51,40.722104,-73.997249,40.718939,-73.992663,Subscriber,2,New York City,1,5,Friday
30,1070,2016-01-01 06:00:17,1/1/2016 06:18:08,40.689888,-73.981013,40.712690,-73.987763,Subscriber,1,New York City,1,6,Friday
31,280,2016-01-01 06:34:22,1/1/2016 06:39:03,40.750200,-73.990931,40.755273,-73.983169,Subscriber,1,New York City,1,6,Friday
32,803,2016-01-01 06:47:04,1/1/2016 07:00:27,40.712733,-74.004607,40.736197,-74.008592,Subscriber,2,New York City,1,6,Friday
33,143,2016-01-01 07:20:06,1/1/2016 07:22:30,40.729060,-73.957790,40.724055,-73.955736,Subscriber,1,New York City,1,7,Friday
34,659,2016-01-01 08:41:54,1/1/2016 08:52:54,40.711731,-73.991930,40.724537,-73.981854,Subscriber,2,New York City,1,8,Friday
35,1403,2016-01-01 08:44:10,1/1/2016 09:07:34,40.722104,-73.997249,40.723180,-73.994800,Subscriber,1,New York City,1,8,Friday
36,380,2016-01-01 08:49:22,1/1/2016 08:55:43,40.744023,-73.976056,40.754601,-73.971879,Subscriber,1,New York City,1,8,Friday
37,635,2016-01-01 09:12:07,1/1/2016 09:22:42,40.780578,-73.985624,40.756604,-73.997901,Subscriber,1,New York City,1,9,Friday
38,838,2016-01-01 09:20:37,1/1/2016 09:34:35,40.780578,-73.985624,40.764397,-73.973715,Subscriber,2,New York City,1,9,Friday
39,1924,2016-01-01 09:34:20,1/1/2016 10:06:25,40.733143,-73.975739,40.707873,-74.001670,Customer,0,New York City,1,9,Friday
40,714,2016-01-01 09:43:48,1/1/2016 09:55:43,40.751396,-74.005226,40.729039,-73.994046,Subscriber,1,New York City,1,9,Friday
41,570,2016-01-01 10:02:33,1/1/2016 10:12:03,40.717821,-73.976289,40.714067,-73.992939,Subscriber,1,New York City,1,10,Friday
42,374,2016-01-01 10:11:46,1/1/2016 10:18:01,40.708347,-74.017134,40.716250,-74.009106,Subscriber,2,New York City,1,10,Friday
43,399,2016-01-01 10:15:31,1/1/2016 10:22:10,40.771183,-73.964094,40.773407,-73.977825,Subscriber,1,New York City,1,10,Friday
44,211,2016-01-01 10:28:01,1/1/2016 10:31:32,40.732219,-73.981656,40.739126,-73.979738,Subscriber,1,New York City,1,10,Friday
45,416,2016-01-01 10:28:09,1/1/2016 10:35:05,40.689493,-73.942061,40.690649,-73.956431,Subscriber,2,New York City,1,10,Friday
46,153,2016-01-01 10:30:47,1/1/2016 10:33:20,40.747310,-73.954510,40.742327,-73.954117,Subscriber,1,New York City,1,10,Friday
47,781,2016-01-01 10:37:18,1/1/2016 10:50:19,40.777057,-73.978985,40.754601,-73.971879,Subscriber,1,New York City,1,10,Friday
48,305,2016-01-01 10:40:31,1/1/2016 10:45:37,40.780578,-73.985624,40.775794,-73.976206,Subscriber,1,New York City,1,10,Friday
49,405,2016-01-01 10:42:53,1/1/2016 10:49:38,40.729170,-73.998102,40.724677,-73.987834,Subscriber,1,New York City,1,10,Friday

In [313]:
df.dtypes

duration                     int64
start_time                  object
end_time                    object
start station latitude     float64
start station longitude    float64
end station latitude       float64
end station longitude      float64
user_type                   object
gender                      object
city                        object
month                        int64
hour                         int64
day                         object
dtype: object

In [314]:
df.isnull().sum()

duration                        0
start_time                      0
end_time                        0
start station latitude     138457
start station longitude    138457
end station latitude       138457
end station longitude      138457
user_type                     717
gender                      83480
city                            0
month                           0
hour                            0
day                             0
dtype: int64

# Cleaning data

In [316]:
df.loc[:, 'start station latitude'] = df['start station latitude'].fillna(0)
df.loc[:, 'start station longitude'] = df['start station longitude'].fillna(0)
df.loc[:, 'end station latitude'] = df['end station latitude'].fillna(0)
df.loc[:, 'end station longitude'] = df['end station longitude'].fillna(0)

In [317]:
# Replace missing values in the 'gender' column with "Unregistered"
df.loc[:,'gender'] = df['gender'].fillna("Unregistered")# Remove rows with missing values in the 'user_type' column

In [318]:
# Remove rows with missing values in the 'user_type' column
df = df[df['user_type'].notna()]

# To verify the number of removed rows, calculate the difference in length
removed_rows = len(df[df['user_type'].isna()])
print(f"Number of removed rows: {removed_rows}")

Number of removed rows: 0

In [319]:
# Check for duplicate rows in the DataFrame
duplicate_count = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 7

In [320]:
# Remove duplicate rows and keep the first occurrence
df = df.drop_duplicates()

# Verify if duplicates are removed
print(f"Number of rows after removing duplicates: {len(df)}")

Number of rows after removing duplicates: 414531

In [321]:
def adjust_duration(df):
    """
    Adjust the 'duration' column based on the city name.
    If the city is 'Washington', divide the duration by 1000 and then by 60.
    Otherwise, divide the duration by 60.
    
    Args:
    - df (pd.DataFrame): The DataFrame containing 'city' and 'duration' columns.
    
    Returns:
    - pd.DataFrame: The DataFrame with the adjusted 'duration' column.
    """
    # Apply the transformation using a lambda function
    df['duration'] = df.apply(
        lambda row: row['duration'] / 1000 / 60 if row['city'] == 'Washington' else row['duration'] / 60, 
        axis=1
    )
    return df

# Apply the function to the bikeshare DataFrame
df = adjust_duration(df)

In [322]:
df.duration.describe()

count    414531.000000
mean         16.428283
std          87.411759
min           1.000000
25%           6.483333
50%          10.842600
75%          18.400000
max       39395.966667
Name: duration, dtype: float64

The dataset's `duration` column exhibits extreme outliers, with a mean of 16.43 minutes and a standard deviation of 87.41 minutes. The maximum value is 39,395.97 minutes (approximately 27 days), significantly deviating from the third quartile (75%) value of 18.4 minutes. These outliers may impact the analysis and require proper handling.

In [324]:
# Calculate IQR
Q1 = df['duration'].quantile(0.25)
Q3 = df['duration'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter the DataFrame to keep only values within bounds
df = df[(df['duration'] >= lower_bound) & (df['duration'] <= upper_bound)]

# Print the number of removed rows
removed_rows = len(df) - len(bikeshare_filtered)
print(f"Number of removed rows: {removed_rows}")

Number of removed rows: 0

In [325]:
# Convert 'start_time' and 'end_time' to datetime format
df['start_time'] = pd.to_datetime(df['start_time'])
df['end_time'] = pd.to_datetime(df['start_time'])

In [326]:
df.dtypes

duration                          float64
start_time                 datetime64[ns]
end_time                   datetime64[ns]
start station latitude            float64
start station longitude           float64
end station latitude              float64
end station longitude             float64
user_type                          object
gender                             object
city                               object
month                               int64
hour                                int64
day                                object
dtype: object

In [327]:
# Map 'Registered' to 'Subscriber' and 'Casual' to 'Customer' in the 'user_type' column for Washington
df['user_type'] = df['user_type'].replace({
    'Registered': 'Subscriber',
    'Casual': 'Customer'
})

# Verify the changes by displaying unique values in the 'user_type' column
print(df['user_type'].unique())

['Customer' 'Subscriber']

In [328]:
# Map numerical values to their textual equivalents
df['gender'] = df['gender'].replace({
    '0': 'Unregistered',
    '1': 'Male',
    '2': 'Female'
})

# Verify the changes
print(df['gender'].unique())

['Unregistered' 'Male' 'Female']

In [329]:
df.to_csv('BikeshareDataset.csv', index=False)

In [330]:
# Exploratory Analysis for Each Column

# Duration column
print("Duration Column Analysis:")
print(df['duration'].describe())  # Descriptive statistics for duration
print("Unique values count:", df['duration'].nunique())
print("Missing values count:", df['duration'].isnull().sum())

# Start and End Time columns
print("\nThe datatypes of this column is:", df['start_time'].dtypes)
print("Start Time Column Analysis:")
print("Min:", df['start_time'].min())
print("Max:", df['start_time'].max())
print("Missing values count:", df['start_time'].isnull().sum())

print("\nThe datatypes of this column is:", df['end_time'].dtypes)
print("End Time Column Analysis:")
print("Min:", df['end_time'].min())
print("Max:", df['end_time'].max())
print("Missing values count:", df['end_time'].isnull().sum())

# Latitude and Longitude columns
print("\nLatitude and Longitude Analysis:")
print("Start Station Latitude - Range:", df['start station latitude'].min(), "-", df['start station latitude'].max())
print("Start Station Longitude - Range:", df['start station longitude'].min(), "-", df['start station longitude'].max())
print("End Station Latitude - Range:", df['end station latitude'].min(), "-", df['end station latitude'].max())
print("End Station Longitude - Range:", df['end station longitude'].min(), "-", df['end station longitude'].max())
print("Missing values count (Start Latitude):", df['start station latitude'].isnull().sum())

# User Type column
print("\nUser Type Column Analysis:")
print(df['user_type'].value_counts())  # Count unique categories
print("Missing values count:", df['user_type'].isnull().sum())

# Gender column
print("\nGender Column Analysis:")
print(df['gender'].value_counts())  # Count unique categories
print("Missing values count:", df['gender'].isnull().sum())

# City column
print("\nCity Column Analysis:")
print(df['city'].value_counts())  # Count unique cities
print("Missing values count:", df['city'].isnull().sum())

# Start Month column
print("\nStart Month Column Analysis:")
print(df['month'].describe())  # Descriptive statistics for months
print("Missing values count:", df['month'].isnull().sum())

# hour column
print("\nStart hour Column Analysis:")
print(df['hour'].describe())  # Descriptive statistics for months
print("Missing values count:", df['hour'].isnull().sum())


# Start Day column
print("\nStart Day Column Analysis:")
print(df['day'].value_counts())

Duration Column Analysis:
count    394555.000000
mean         12.374087
std           7.762534
min           1.000000
25%           6.300000
50%          10.350000
75%          16.923892
max          36.274917
Name: duration, dtype: float64
Unique values count: 61533
Missing values count: 0

The datatypes of this column is: datetime64[ns]
Start Time Column Analysis:
Min: 2016-01-01 00:09:55
Max: 2016-12-31 23:53:42
Missing values count: 0

The datatypes of this column is: datetime64[ns]
End Time Column Analysis:
Min: 2016-01-01 00:09:55
Max: 2016-12-31 23:53:42
Missing values count: 0

Latitude and Longitude Analysis:
Start Station Latitude - Range: 0.0 - 40.804213
Start Station Longitude - Range: -74.01713445 - 0.0
End Station Latitude - Range: 0.0 - 40.804213
End Station Longitude - Range: -74.0337589 - 0.0
Missing values count (Start Latitude): 0

User Type Column Analysis:
user_type
Subscriber    345062
Customer       49493
Name: count, dtype: int64
Missing values count: 0

Gender Column Analysis:
gender
Male            220860
Unregistered    102504
Female           71191
Name: count, dtype: int64
Missing values count: 0

City Column Analysis:
city
New York City    265428
Chicago           68225
Washington        60902
Name: count, dtype: int64
Missing values count: 0

Start Month Column Analysis:
count    394555.000000
mean          7.074415
std           2.950055
min           1.000000
25%           5.000000
50%           7.000000
75%           9.000000
max          12.000000
Name: month, dtype: float64
Missing values count: 0

Start hour Column Analysis:
count    394555.000000
mean         13.867783
std           4.851354
min           0.000000
25%          10.000000
50%          15.000000
75%          18.000000
max          23.000000
Name: hour, dtype: float64
Missing values count: 0

Start Day Column Analysis:
day
Thursday     62050
Wednesday    62009
Tuesday      60896
Friday       59381
Monday       57344
Saturday     47834
Sunday       45041
Name: count, dtype: int64

# **Exploratory Data Analysis (EDA) Report**



---

### **1. Duration Column Analysis:**
- **Count:** 394,555 trips recorded.
- **Mean:** Average trip duration is ~12.37 minutes.
- **Standard Deviation (std):** 7.76 minutes, indicating moderate variability in trip durations.
- **Min & Max:** The shortest trip is 1 minute, while the longest is ~36.27 minutes.
- **Quartiles:**
  - 25% of trips are less than 6.3 minutes.
  - 50% (Median) of trips are 10.35 minutes.
  - 75% of trips are less than 16.92 minutes.
- **Unique Values Count:** 61,533 unique durations.
- **Missing Values:** None.

---

### **2. Start Time Column Analysis:**
- **Range:** Data spans from `2016-01-01 00:09:55` to `2016-12-31 23:53:42`.
- **Missing Values:** None.

---

### **3. End Time Column Analysis:**
- **Range:** Matches the start time range (`2016-01-01 00:09:55` to `2016-12-31 23:53:42`).
- **Missing Values:** None.

---

### **4. Latitude and Longitude Analysis:**
- **Start Station Latitude:** Ranges from `0.0` to `40.804213`.
- **Start Station Longitude:** Ranges from `-74.01713445` to `0.0`.
- **End Station Latitude:** Matches the start station latitude range (`0.0` to `40.804213`).
- **End Station Longitude:** Matches the start station longitude range (`-74.0337589` to `0.0`).
- **Missing Values:** None for latitude and longitude.

---

### **5. User Type Column Analysis:**
- **Categories:**
  - **Subscriber:** 345,062 trips (87.5% of total).
  - **Customer:** 49,493 trips (12.5% of total).
- **Missing Values:** None.

---

### **6. Gender Column Analysis:**
- **Categories:**
  - **Male:** 220,860 trips (56% of total).
  - **Unregistered:** 102,504 trips (26% of total).
  - **Female:** 71,191 trips (18% of total).
- **Missing Values:** None.

---

### **7. City Column Analysis:**
- **Cities Represented:**
  - **New York City:** 265,428 trips (67.3% of total).
  - **Chicago:** 68,225 trips (17.3% of total).
  - **Washington:** 60,902 trips (15.4% of total).
- **Missing Values:** None.

---

### **8. Start Month Column Analysis:**
- **Count:** 394,555 trips.
- **Mean Month:** Trips are most common around mid-year (average is July).
- **Standard Deviation:** 2.95 months, indicating trips are distributed across the year but peak in summer months.
- **Min & Max:** Trips span from January (1) to December (12).
- **Quartiles:**
  - 25% of trips occur by May.
  - 50% of trips occur by July.
  - 75% of trips occur by September.
- **Missing Values:** None.

---

### **9. Start Hour Column Analysis:**
- **Count:** 394,555 trips.
- **Mean Hour:** Average start hour is around 13:52 (early afternoon).
- **Standard Deviation:** 4.85 hours, indicating most trips are concentrated during specific times of the day.
- **Min & Max:** Trips start as early as midnight (0:00) and as late as 11:00 PM (23:00).
- **Quartiles:**
  - 25% of trips start by 10:00 AM.
  - 50% (Median) of trips start by 3:00 PM.
  - 75% of trips start by 6:00 PM.
- **Missing Values:** None.

---

### **10. Start Day Column Analysis:**
- **Day-wise Distribution:**
  - **Thursday:** Most trips (62,050 trips).
  - **Sunday:** Fewest trips (45,041 trips).
- **Weekend vs. Weekday:** Weekdays have a higher trip count compared to weekends.
- **Missing Values:** None.

---

### **Key Insights:**
1. **Trip Durations:** The majority of trips are short, typically lasting ~10 minutes.
2. **User Behavior:**
   - Subscribers dominate the user base (~87%).
   - Male users represent the majority (~56%), but a significant portion is unregistered (~26%).
3. **Peak Activity:**
   - Most trips occur in summer (July).
   - Trips are more frequent on weekdays, particularly Thursdays.
4. **Geographical Data:**
   - No missing values for latitude and longitude, but there are `0.0` values that may need further investigation.